ENV='dev'
APPLICATION_REST_PORT=
APPLICATION_REST_BASE_URL=
APPLICATION_REST_ORIGIN=
APPLICATION_SECRET_KEY=
APPLICATION_REFRESH_KEY=

MYSQL_HOST=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=
MYSQL_CA=
