ENV='dev'
APPLICATION_REST_PORT=
APPLICATION_REST_BASE_URL=
APPLICATION_REST_ORIGIN=

MYSQL_QUERY_HOST=
MYSQL_QUERY_USERNAME=
MYSQL_QUERY_PASSWORD=
MYSQL_QUERY_DATABASE=
MYSQL_QUERY_PORT=
MYSQL_QUERY_CA=

MYSQL_COMMAND_HOST=
MYSQL_COMMAND_USERNAME=
MYSQL_COMMAND_PASSWORD=
MYSQL_COMMAND_DATABASE=
MYSQL_COMMAND_PORT=
MYSQL_COMMAND_CA=